@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";
.e-schedule {
  background-color: #f2f2f2 !important; /* Background color of the Scheduler */
}

.e-header-container {
  background-color: #333333 !important; /* Background color of the header section */
  color: #ffffff !important; /* Text color of the header section */
}

.e-toolbar-container {
  background-color: #dddddd !important; /* Background color of the toolbar section */
}

.e-content-table {
  background-color: #ffffff !important; /* Background color of the content table */
}

.e-appointment {
  background-color: #ff0000; /* Background color of the individual event item */
  color: #ffffff; /* Text color of the individual event item */
}
::-webkit-scrollbar {
  width: 12px !important;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px !important;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;
}
